fastapi
uvicorn
qdrant-client
sqlalchemy
langchain
openai
psycopg2-binary
python-multipart
redis
nltk
sentence-transformers
scikit-learn
supabase
langchain-core
langchain-openai
langchain-community
langgraph
langsmith
langchain-tavily
langgraph-checkpoint-redis
langchain-text-splitters